[submodule "Packages/swift-lua"]
	path = Packages/swift-lua
	url = https://github.com/arkadeleon/swift-lua.git
[submodule "Packages/swift-rathena"]
	path = Packages/swift-rathena
	url = https://github.com/arkadeleon/swift-rathena.git
