//
//  Development.xcconfig
//  RagnarokOffline
//
//  Created by Leon Li on 2025/10/22.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

INFOPLIST_KEY_CFBundleDisplayName = Ragnarok Offline
MARKETING_VERSION = 1.7.2
CURRENT_PROJECT_VERSION = 19

_DD_GAME_CLIENT_FEATURE = GAME_CLIENT_FEATURE
_DD_CHAT_CLIENT_FEATURE = CHAT_CLIENT_FEATURE

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) $(_DD_GAME_CLIENT_FEATURE) $(_DD_CHAT_CLIENT_FEATURE)
